aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
amqp==5.2.0
annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
billiard==4.2.0
bitarray==2.9.2
black==24.3.0
bs4==0.0.2
cachetools==5.3.2
cattrs==23.2.3
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorlog==6.8.2
coreapi==2.3.3
coreschema==0.0.4
cron-descriptor==1.4.3
cryptography==42.0.5
dataclasses-json==0.6.4
datasets==2.17.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
dj-rest-auth==5.0.2
Django==4.2.9
django-advanced-filters==2.0.0
django-allauth==0.61.1
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-environ==0.11.2
django-filter==23.5
django-timezone-field==6.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
exceptiongroup==1.2.0
factory-boy==3.3.0
Faker==23.2.1
filelock==3.13.1
frozenlist==1.4.1
fsspec==2023.10.0
future==0.18.3
gevent==23.9.1
gkeepapi==0.15.1
google-api-core==2.17.1
google-api-python-client==2.118.0
google-auth==2.28.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
gpsoauth==1.0.4
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.3
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.20.3
identify==2.5.33
idna==3.6
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.3
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
kombu==5.3.5
langchain-community==0.0.20
langchain-core==0.1.23
langsmith==0.0.87
llama-index==0.10.6
llama-index-agent-openai==0.1.1
llama-index-core==0.10.6.post1
llama-index-embeddings-huggingface==0.1.3
llama-index-embeddings-openai==0.1.1
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.2
llama-index-multi-modal-llms-openai==0.1.1
llama-index-program-openai==0.1.2
llama-index-question-gen-openai==0.1.1
llama-index-readers-file==0.1.3
llama-index-readers-google==0.1.2
llama-index-storage-docstore-redis==0.1.2
llama-index-storage-kvstore-redis==0.1.2
llama-index-vector-stores-redis==0.1.2
llamaindex-py-client==0.1.13
Mako==1.3.2
MarkupSafe==2.1.5
marshmallow==3.20.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
nodeenv==1.8.0
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
openai==1.12.0
optuna==3.5.0
packaging==23.2
pandas==2.2.0
pathspec==0.12.1
pgvector==0.2.5
pillow==10.3.0
platformdirs==4.1.0
pre-commit==3.5.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psycopg2-binary==2.9.9
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybloom-live==4.0.0
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.6.1
pydantic_core==2.16.2
PyDrive==1.3.1
PyJWT==2.8.0
PyMuPDF==1.23.23
PyMuPDFb==1.23.22
pyparsing==3.1.1
pypdf==4.0.2
python-crontab==3.0.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.1
regex==2023.12.25
requests==2.31.0
requests-cache==1.2.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.1.7
safetensors==0.4.2
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.27
sqlparse==0.4.4
sympy==1.12
tenacity==8.2.3
tiktoken==0.6.0
tokenizers==0.15.2
tomli==2.0.1
torch==2.2.1
tqdm==4.66.2
transformers==4.38.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
ujson==5.9.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.18
uuid==1.30
vine==5.1.0
virtualenv==20.25.0
wcwidth==0.2.13
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zope.event==5.0
zope.interface==6.2
